/*    Century Gothic       */

//@font-face {
//  font-family: century-gothic;
//  src: url('../fonts/century-gothic.ttf');
//}

/*     Code      */

@font-face {
  font-family: CodeBold;
  src: url('../fonts/code-bold.otf');
}

@font-face {
  font-family: Code;
  src: url('../fonts/code-light.otf');
}

